body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}


.layout {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #6236ff;
    color: white;
    min-height: 100vh;
    padding: 20px;
}

.logo {
    margin-bottom: 30px;
    text-align: center;
}

.menu-item {
    display: block;
    padding: 10px;
    margin: 8px 0;
    background: #754aff;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.menu-item:hover {
    background: #5a32dd;
}

.logout {
    display: block;
    margin-top: 40px;
    padding: 10px;
    background: #ff4646;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
}

.welcome {
    background: #6236ff;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    flex: 1;
}

.title {
    margin-top: 30px;
    margin-bottom: 10px;
}

.courses {
    display: flex;
    gap: 20px;
}

.course-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.course-box button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #6236ff;
    color: white;
    border: none;
    border-radius: 5px;
}

.notice-box {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}
.cards :hover {
    background-color: #5a32dd;
    transition-duration: 1s;
}

 button  :hover{
    background-color: #896bed;
    transition-duration: 1s;


}

.view  :hover{
     background-color: #896bed;
    transition-duration: 1s;
}